Package: com.sttt.easybikenoads
Name: EasyBikeNoAds
Version: 1.0.2
Architecture: iphoneos-arm
Description: EasyBikeNoAds 6.84.0 test
Maintainer: sttt
Author: sttt
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://Mieing.Github.io/repo/file/haluo.png

